body {
    /*background-color: GrayText;*/
}

html {
    font-family: Arial, sans-serif;
}
/* classes de marquage pour sélectionner les clones des questions et des réponses */
.questionclass {
}

.reponseclass {
}

/* grid container */
.left-sidebar-grid {
    display: grid;
    grid-template-areas:
        'header'
        'left-sidebar'
        'main-content';
}

    /* general column padding */
    .left-sidebar-grid > * {
        padding: 10px;
    }

    /* assign columns to grid areas */
    .left-sidebar-grid > .header {
        grid-area: header;
        background-color: cornflowerblue;
        color: black;
        text-align: center;
        font-size: 20px;
    }

    .left-sidebar-grid > .main-content {
        grid-area: main-content;
        /*  grid-area: left-sidebar-start / main-content-start / main-content-end / main-content-end;*/
        /*grid-area: left-sidebar-end / main-content-end  / main-content-end / main-content-end;*/
        background: #fff;
    }

    .left-sidebar-grid > .left-sidebar {
        grid-area: left-sidebar;
        transform: translateX(-100%);
        transition: 200ms ease;
        z-index: 1;
        position: relative;
        border: 1px solid #ccc;
    }

        .left-sidebar-grid > .left-sidebar.collapsed {
            transform: translateX(0%);
        }


textarea {
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    font-size: 14px;
    border: 1px solid #ccc;
    height: 41px;
    width: 80%;
    overflow: hidden;
    resize: none;
}

/* alignement dans le header*/
.headergrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.center {
    text-align: center;
}

p.center {
    font-size: 12px;
}

.right {
    text-align: right;
}

p.right {
    font-size: .9rem;
}

.left {
    text-align: left;
}

p.left {
    font-size: 1.1rem;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /*background-color: whitesmoke;*/
    height: 3rem;
}

.alignRight {
    text-align: right;
}

.navbargrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /*align-items: start;*/
}

/* tablet breakpoint */
@media (min-width:768px) {
    .left-sidebar-grid {
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
            'header header header header header'
            'left-sidebar main-content main-content main-content main-content';
    }
}

/* container pour les questions et réponses*/
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.containerHistorique {
    display: grid;
    grid-template-columns: 85% 15%;
}
.openChat{}
.deleteChat{}




select {
    font-size: 16px;
    padding: 5px;
}

#sidebar > ul > li {
    font-size: 14px;
}
