<div class="sticky">

    <div class="navbargrid">
        <div>
            <button id="close-sidebar">
                <img src="~/images/less-than-solid.svg"
                     alt="Replier" height="24" width="24"
                     title="Replier" />
            </button>
            <button id="buttonload">
                <i class="fa fa-spinner fa-spin fa-xl"></i>
            </button>
        </div>
        <div>
            <button id="saveButton">
                <img src="~/images/save-solid.svg"
                     alt="Enregistrer" height="24" width="24"
                     title="Enregistrer le chat" />
            </button>

            <button id="resetButton">
                <img src="~/images/plus-solid.svg"
                     alt="Nouveau chat" height="24" width="24"
                     title="Nouveau chat" />
            </button>
        </div>
    </div>
</div>